{
   "swagger": "2.0",
   "info": {
      "version": "3.0.0",
      "title": "Codacy API",
      "description": "Codacy API v3 reference.\n\n[Import the OpenAPI 2.0 definition](https://api.codacy.com/api/api-docs/swagger.yaml) into your development tools to help bootstrap your integration with Codacy.\nFor more information see [Using the Codacy API](https://docs.codacy.com/codacy-api/using-the-codacy-api/).\n",
      "contact": {
         "name": "Codacy Team",
         "email": "code@codacy.com",
         "url": "https://www.codacy.com"
      },
      "license": {
         "name": "Codacy. All rights reserved",
         "url": "https://www.codacy.com"
      }
   },
   "schemes": [
      "https"
   ],
   "host": "app.codacy.com",
   "basePath": "/api/v3",
   "produces": [
      "application/json"
   ],
   "consumes": [
      "application/json"
   ],
   "securityDefinitions": {
      "ApiKeyAuth": {
         "type": "apiKey",
         "in": "header",
         "name": "api-token",
         "description": "Learn how to [generate an account API token](https://docs.codacy.com/codacy-api/api-tokens/#account-api-tokens)"
      }
   },
   "definitions": {
      "Version": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "string"
            }
         }
      },
      "Visibility": {
         "type": "string",
         "description": "Visibility of the repository",
         "example": "Private",
         "x-ms-enum": {
            "name": "Visibility"
         },
         "enum": [
            "Public",
            "Private",
            "LoginPublic"
         ]
      },
      "RepositoryFilter": {
         "type": "string",
         "x-ms-enum": {
            "name": "RepositoryFilter"
         },
         "enum": [
            "Synced",
            "NotSynced"
         ]
      },
      "ConfigurationStatusCategory": {
         "type": "string",
         "x-ms-enum": {
            "name": "ConfigurationStatusCategory"
         },
         "enum": [
            "database",
            "secrets",
            "email",
            "github",
            "github-enterprise",
            "bitbucket",
            "bitbucket-server",
            "gitlab",
            "gitlab-enterprise",
            "license"
         ]
      },
      "Provider": {
         "type": "string",
         "description": "Git provider hosting the repository",
         "example": "gh",
         "x-ms-enum": {
            "name": "Provider"
         },
         "enum": [
            "bb",
            "gh",
            "gl"
         ]
      },
      "AccountProvider": {
         "type": "string",
         "x-ms-enum": {
            "name": "AccountProvider"
         },
         "enum": [
            "github",
            "google",
            "bitbucket",
            "gitlab"
         ]
      },
      "JoinMode": {
         "type": "string",
         "x-ms-enum": {
            "name": "JoinMode"
         },
         "enum": [
            "auto",
            "adminAuto",
            "request"
         ]
      },
      "JoinStatus": {
         "type": "string",
         "x-ms-enum": {
            "name": "JoinStatus"
         },
         "enum": [
            "member",
            "pendingMember",
            "remoteMember"
         ]
      },
      "SeverityLevel": {
         "type": "string",
         "description": "Issue severity level. (These values map to our UI as follows: Info->Minor, Warning->Medium, Error->Critical)",
         "example": "Error",
         "x-ms-enum": {
            "name": "SeverityLevel"
         },
         "enum": [
            "Info",
            "Warning",
            "Error"
         ]
      },
      "JoinResponse": {
         "type": "object",
         "required": [
            "organizationIdentifier",
            "joinStatus"
         ],
         "properties": {
            "organizationIdentifier": {
               "type": "integer",
               "format": "int64"
            },
            "joinStatus": {
               "$ref": "#/definitions/JoinStatus"
            }
         }
      },
      "RequestToJoin": {
         "type": "object",
         "required": [
            "email",
            "name",
            "creationDate"
         ],
         "properties": {
            "email": {
               "type": "string",
               "example": "mail@mail.com"
            },
            "name": {
               "type": "string",
               "example": "a display name"
            },
            "numberOfCommits": {
               "type": "integer",
               "format": "int32"
            },
            "numberOfRepositories": {
               "type": "integer",
               "format": "int32"
            },
            "lastActivity": {
               "type": "string",
               "format": "date-time",
               "x-scala-type": "java.time.Instant",
               "example": "2020-01-06T14:29:13.430Z"
            },
            "creationDate": {
               "type": "string",
               "format": "date-time",
               "x-scala-type": "java.time.Instant",
               "example": "2020-01-06T14:29:13.430Z"
            }
         }
      },
      "ListRequestsToJoinResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            },
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/RequestToJoin"
               }
            }
         }
      },
      "UserRole": {
         "type": "string",
         "x-ms-enum": {
            "name": "UserRole"
         },
         "enum": [
            "admin",
            "member",
            "author"
         ]
      },
      "Permission": {
         "type": "string",
         "x-ms-enum": {
            "name": "Permission"
         },
         "enum": [
            "admin",
            "write",
            "read"
         ]
      },
      "AnalysisAction": {
         "type": "string",
         "x-ms-enum": {
            "name": "AnalysisAction"
         },
         "enum": [
            "clone",
            "createTasks",
            "runMetrics",
            "runPatterns",
            "createOverviews"
         ]
      },
      "FirstAnalysisOverview": {
         "type": "object",
         "required": [
            "action",
            "complete"
         ],
         "properties": {
            "action": {
               "$ref": "#/definitions/AnalysisAction"
            },
            "complete": {
               "type": "boolean",
               "example": false
            }
         }
      },
      "FirstAnalysisOverviewResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/FirstAnalysisOverview"
               }
            }
         }
      },
      "OrganizationType": {
         "type": "string",
         "description": "The type of Organization",
         "example": "Organization",
         "x-ms-enum": {
            "name": "OrganizationType"
         },
         "enum": [
            "Account",
            "Organization"
         ]
      },
      "HealthCheck": {
         "type": "object",
         "required": [
            "message"
         ],
         "properties": {
            "message": {
               "type": "string",
               "example": "Hello, it's me"
            }
         }
      },
      "HealthCheckResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "$ref": "#/definitions/HealthCheck"
            }
         }
      },
      "PaginationInfo": {
         "type": "object",
         "description": "Cursor-based pagination information to obtain more items",
         "properties": {
            "cursor": {
               "type": "string",
               "description": "Cursor for the next items in the list"
            },
            "limit": {
               "type": "integer",
               "format": "int32",
               "description": "Maximum number of items returned"
            },
            "total": {
               "type": "integer",
               "format": "int32",
               "description": "Total number of items returned"
            }
         }
      },
      "PaymentProvider": {
         "type": "string",
         "enum": [
            "stripe",
            "chargebee",
            "direct",
            "github"
         ]
      },
      "User": {
         "type": "object",
         "required": [
            "id",
            "mainEmail",
            "otherEmails",
            "isAdmin",
            "isActive",
            "created"
         ],
         "properties": {
            "id": {
               "type": "integer",
               "format": "int64"
            },
            "name": {
               "type": "string",
               "example": "Foo"
            },
            "mainEmail": {
               "type": "string",
               "example": "main@codacy.com"
            },
            "otherEmails": {
               "type": "array",
               "items": {
                  "type": "string"
               },
               "example": [
                  "foo@bar.com"
               ]
            },
            "isAdmin": {
               "type": "boolean",
               "example": false
            },
            "isActive": {
               "type": "boolean",
               "example": true
            },
            "created": {
               "type": "string",
               "format": "date-time",
               "x-scala-type": "java.time.Instant",
               "example": "2019-05-07T14:29:13.430Z"
            },
            "intercomHash": {
               "type": "string",
               "example": "userhash"
            },
            "shouldDoClientQualification": {
               "type": "boolean",
               "example": false
            }
         }
      },
      "UserResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "$ref": "#/definitions/User"
            }
         }
      },
      "UserBody": {
         "type": "object",
         "properties": {
            "name": {
               "type": "string",
               "example": "Foo"
            },
            "shouldDoClientQualification": {
               "type": "boolean",
               "example": false
            }
         }
      },
      "ChangePasswordBody": {
         "type": "object",
         "required": [
            "currentPassword",
            "newPassword"
         ],
         "properties": {
            "currentPassword": {
               "type": "string",
               "example": "current_pass"
            },
            "newPassword": {
               "type": "string",
               "example": "new_pass"
            }
         }
      },
      "Organization": {
         "type": "object",
         "required": [
            "name",
            "provider",
            "type",
            "remoteIdentifier"
         ],
         "properties": {
            "identifier": {
               "type": "integer",
               "format": "int64"
            },
            "remoteIdentifier": {
               "type": "string"
            },
            "name": {
               "type": "string",
               "example": "FooOrganization"
            },
            "avatar": {
               "type": "string",
               "example": "someRandomLink.com"
            },
            "created": {
               "type": "string",
               "format": "date-time",
               "x-scala-type": "java.time.Instant",
               "example": "2019-05-07T14:29:13.430Z"
            },
            "provider": {
               "$ref": "#/definitions/Provider"
            },
            "joinMode": {
               "$ref": "#/definitions/JoinMode"
            },
            "type": {
               "$ref": "#/definitions/OrganizationType"
            },
            "joinStatus": {
               "$ref": "#/definitions/JoinStatus"
            },
            "userRole": {
               "$ref": "#/definitions/UserRole"
            }
         }
      },
      "AddOrganizationResponse": {
         "type": "object",
         "required": [
            "organization"
         ],
         "properties": {
            "organization": {
               "$ref": "#/definitions/Organization"
            },
            "warnings": {
               "type": "array",
               "items": {
                  "type": "string"
               }
            }
         }
      },
      "OrganizationListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            },
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/Organization"
               }
            }
         }
      },
      "Membership": {
         "type": "object",
         "required": [
            "userRole"
         ],
         "properties": {
            "userRole": {
               "$ref": "#/definitions/UserRole"
            }
         }
      },
      "Billing": {
         "type": "object",
         "required": [
            "isPremium"
         ],
         "properties": {
            "isPremium": {
               "type": "boolean",
               "example": true
            },
            "code": {
               "type": "string",
               "example": "trial"
            },
            "monthly": {
               "type": "boolean",
               "example": true
            },
            "price": {
               "type": "integer",
               "format": "int64",
               "example": 1000
            },
            "pricedPerUser": {
               "type": "boolean",
               "example": true
            }
         }
      },
      "OrganizationBillingInformation": {
         "type": "object",
         "required": [
            "numberOfSeats",
            "numberOfPurchasedSeats",
            "paymentPlan"
         ],
         "properties": {
            "numberOfSeats": {
               "type": "integer",
               "format": "int32",
               "example": 42
            },
            "numberOfPurchasedSeats": {
               "type": "integer",
               "format": "int32",
               "example": 100
            },
            "paymentPlan": {
               "$ref": "#/definitions/Billing"
            },
            "paymentGateway": {
               "$ref": "#/definitions/PaymentProvider"
            }
         }
      },
      "OrganizationBillingInformationResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "$ref": "#/definitions/OrganizationBillingInformation"
            }
         }
      },
      "Paywall": {
         "type": "object",
         "required": [
            "organizationDashboard",
            "securityDashboard"
         ],
         "properties": {
            "organizationDashboard": {
               "type": "boolean",
               "example": true
            },
            "securityDashboard": {
               "type": "boolean",
               "example": true
            }
         }
      },
      "OrganizationWithMeta": {
         "type": "object",
         "required": [
            "organization",
            "membership",
            "analysisConfigurationMinimumPermission"
         ],
         "properties": {
            "organization": {
               "$ref": "#/definitions/Organization"
            },
            "membership": {
               "$ref": "#/definitions/Membership"
            },
            "billing": {
               "$ref": "#/definitions/Billing"
            },
            "paywall": {
               "$ref": "#/definitions/Paywall"
            },
            "analysisConfigurationMinimumPermission": {
               "$ref": "#/definitions/Permission"
            }
         }
      },
      "OrganizationWithMetaResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "$ref": "#/definitions/OrganizationWithMeta"
            }
         }
      },
      "Integration": {
         "type": "object",
         "required": [
            "provider",
            "lastAuthenticated"
         ],
         "properties": {
            "provider": {
               "$ref": "#/definitions/AccountProvider"
            },
            "lastAuthenticated": {
               "type": "string",
               "format": "date-time",
               "x-scala-type": "java.time.Instant",
               "example": "2019-05-07T14:29:13.430Z"
            }
         }
      },
      "IntegrationListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            },
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/Integration"
               }
            }
         }
      },
      "Repository": {
         "type": "object",
         "required": [
            "provider",
            "owner",
            "name",
            "visibility",
            "problems",
            "languages"
         ],
         "properties": {
            "repositoryId": {
               "type": "integer",
               "format": "int64",
               "description": "Codacy identifier for this repository",
               "example": 45738
            },
            "provider": {
               "$ref": "#/definitions/Provider"
            },
            "owner": {
               "type": "string",
               "description": "Name of the organization that owns the repository",
               "example": "codacy"
            },
            "name": {
               "type": "string",
               "description": "Name of the repository",
               "example": "codacy-eslint"
            },
            "fullPath": {
               "type": "string",
               "description": "Full path of the repository on the Git provider",
               "example": "codacy/codacy-eslint"
            },
            "visibility": {
               "$ref": "#/definitions/Visibility"
            },
            "remoteIdentifier": {
               "type": "string",
               "description": "Unique identifier of the repository on the Git provider",
               "example": "3"
            },
            "lastUpdated": {
               "type": "string",
               "format": "date-time",
               "x-scala-type": "java.time.Instant",
               "description": "Timestamp when the repository was last updated, [depending on the Git provider](https://docs.codacy.com/organizations/organization-overview/#last-updated-repositories)",
               "example": "2019-05-07T14:29:13.430Z"
            },
            "permission": {
               "$ref": "#/definitions/Permission"
            },
            "problems": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/RepositoryProblem"
               }
            },
            "languages": {
               "type": "array",
               "description": "List of the languages in the repository",
               "items": {
                  "type": "string"
               },
               "example": [
                  "Java",
                  "Scala",
                  "CSS"
               ]
            },
            "defaultBranch": {
               "$ref": "#/definitions/Branch"
            },
            "badges": {
               "$ref": "#/definitions/Badges"
            }
         }
      },
      "Badges": {
         "required": [
            "grade",
            "coverage"
         ],
         "properties": {
            "grade": {
               "type": "string",
               "description": "Repository grade badge URL",
               "example": "https://app.codacy.com/project/badge/Grade/d992a862b1994805907ec277e16b0fda"
            },
            "coverage": {
               "type": "string",
               "description": "Repository coverage badge URL",
               "example": "https://app.codacy.com/project/badge/Coverage/d992a862b1994805907ec277e16b0fda"
            }
         }
      },
      "RepositoryResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "$ref": "#/definitions/Repository"
            }
         }
      },
      "Commit": {
         "allOf": [
            {
               "$ref": "#/definitions/CommitIdentification"
            },
            {
               "type": "object",
               "required": [
                  "id",
                  "commitTimestamp"
               ],
               "properties": {
                  "id": {
                     "type": "integer",
                     "format": "int64",
                     "description": "Internal commit identifier",
                     "example": 1
                  },
                  "commitTimestamp": {
                     "type": "string",
                     "format": "date-time",
                     "x-scala-type": "java.time.Instant",
                     "description": "Timestamp when the commit was created",
                     "example": "2019-05-07T14:29:13.430Z"
                  },
                  "authorName": {
                     "type": "string",
                     "description": "Name of the commit author"
                  },
                  "authorEmail": {
                     "type": "string",
                     "description": "Email address of the commit author"
                  },
                  "message": {
                     "type": "string",
                     "description": "Commit message"
                  },
                  "startedAnalysis": {
                     "type": "string",
                     "format": "date-time",
                     "x-scala-type": "java.time.Instant",
                     "description": "Timestamp when Codacy started the last analysis of the commit",
                     "example": "2022-01-07T14:29:13.430Z"
                  },
                  "endedAnalysis": {
                     "type": "string",
                     "format": "date-time",
                     "x-scala-type": "java.time.Instant",
                     "description": "Timestamp when Codacy finished the last analysis of the commit",
                     "example": "2022-01-07T14:29:13.430Z"
                  }
               }
            }
         ]
      },
      "CommitWithBranches": {
         "allOf": [
            {
               "$ref": "#/definitions/Commit"
            },
            {
               "type": "object",
               "properties": {
                  "branches": {
                     "type": "array",
                     "description": "List of branches containing the commit",
                     "items": {
                        "$ref": "#/definitions/Branch"
                     }
                  }
               }
            }
         ]
      },
      "RepositoryListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            },
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/Repository"
               }
            }
         }
      },
      "ProblemLink": {
         "required": [
            "name",
            "url"
         ],
         "properties": {
            "name": {
               "type": "string",
               "example": "Check our documentation"
            },
            "url": {
               "type": "string",
               "example": "https://docs.codacy.com/faq/troubleshooting/why-isnt-my-public-repository-being-analyzed/"
            }
         }
      },
      "RepositoryProblem": {
         "required": [
            "message",
            "actions",
            "code",
            "severity"
         ],
         "properties": {
            "message": {
               "type": "string",
               "example": "We can't analyze this repository because none of the committers are part of the organization."
            },
            "actions": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/ProblemLink"
               }
            },
            "code": {
               "type": "string",
               "description": "A stable identifier for a problem.",
               "example": "failed_to_clone"
            },
            "severity": {
               "type": "string",
               "description": "The extent to which this problem affects the repository in terms of analysis execution.",
               "example": "all_analysis"
            }
         }
      },
      "RepositoryWithAnalysis": {
         "required": [
            "repository"
         ],
         "properties": {
            "lastAnalysedCommit": {
               "$ref": "#/definitions/Commit"
            },
            "grade": {
               "type": "integer",
               "format": "int32",
               "description": "Quality grade of the file as a number between 100 (highest grade) and 0 (lowest grade)",
               "example": 74
            },
            "gradeLetter": {
               "type": "string",
               "description": "Quality grade of the file as a letter between A (highest grade) and F (lowest grade)",
               "example": "A"
            },
            "issuesPercentage": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "complexFilesPercentage": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "duplicationPercentage": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "repository": {
               "$ref": "#/definitions/Repository"
            },
            "branch": {
               "$ref": "#/definitions/Branch"
            },
            "selectedBranch": {
               "$ref": "#/definitions/Branch"
            },
            "coverage": {
               "$ref": "#/definitions/Coverage"
            }
         }
      },
      "RepositoryWithAnalysisResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "$ref": "#/definitions/RepositoryWithAnalysis"
            }
         }
      },
      "RepositoryWithAnalysisListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            },
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/RepositoryWithAnalysis"
               }
            }
         }
      },
      "PullRequestOwner": {
         "type": "object",
         "required": [
            "name"
         ],
         "properties": {
            "name": {
               "type": "string",
               "example": "Foo"
            },
            "avatarUrl": {
               "type": "string",
               "example": "https://example.com/foo"
            }
         }
      },
      "PullRequest": {
         "type": "object",
         "required": [
            "id",
            "number",
            "updated",
            "repository",
            "title",
            "owner"
         ],
         "properties": {
            "id": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "number": {
               "type": "integer",
               "format": "int32",
               "example": 1
            },
            "updated": {
               "type": "string",
               "format": "date-time",
               "x-scala-type": "java.time.Instant",
               "example": "2019-05-07T14:29:13.430Z"
            },
            "repository": {
               "type": "string",
               "example": "awesome-repository"
            },
            "title": {
               "type": "string",
               "example": "Amazing pull request"
            },
            "owner": {
               "$ref": "#/definitions/PullRequestOwner"
            },
            "originBranch": {
               "type": "string",
               "example": "feat-branch"
            },
            "targetBranch": {
               "type": "string",
               "example": "master"
            }
         }
      },
      "PullRequestWithAnalysis": {
         "type": "object",
         "required": [
            "pullRequest",
            "isAnalysing"
         ],
         "properties": {
            "isUpToStandards": {
               "type": "boolean",
               "example": true
            },
            "isAnalysing": {
               "type": "boolean",
               "example": false
            },
            "pullRequest": {
               "$ref": "#/definitions/PullRequest"
            },
            "newIssues": {
               "description": "Number of issues introduced by the pull request",
               "type": "integer",
               "format": "int32",
               "example": 1
            },
            "fixedIssues": {
               "description": "Number of issues fixed by the pull request",
               "type": "integer",
               "format": "int32",
               "example": 1
            },
            "deltaComplexity": {
               "description": "Difference in cyclomatic complexity introduced by the pull request",
               "type": "integer",
               "format": "int32",
               "example": 1
            },
            "deltaClonesCount": {
               "description": "Difference in number of duplicated blocks of code introduced by the pull request",
               "type": "integer",
               "format": "int32",
               "example": 1
            },
            "deltaCoverage": {
               "description": "Difference in code coverage percentage when compared to the destination branch",
               "type": "integer",
               "format": "int32",
               "example": 1
            },
            "diffCoverage": {
               "description": "Total code coverage value for the changes in this pull request",
               "type": "number",
               "multipleOf": 0.01,
               "format": "double",
               "example": 71
            }
         }
      },
      "PullRequestWithAnalysisListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/PullRequestWithAnalysis"
               }
            },
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            }
         }
      },
      "CategoryIssues": {
         "type": "object",
         "required": [
            "categoryId",
            "numberOfIssues"
         ],
         "properties": {
            "categoryId": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "numberOfIssues": {
               "type": "integer",
               "format": "int64",
               "example": 100
            }
         }
      },
      "CommitAnalysisStats": {
         "type": "object",
         "required": [
            "repositoryId",
            "commitId",
            "numberIssues",
            "numberLoc",
            "issuesPerCategory",
            "issuePercentage",
            "techDebt",
            "totalFilesAdded",
            "totalFilesRemoved",
            "totalFilesChanged",
            "commitAuthorName",
            "commitTimestamp",
            "commitShortUUID"
         ],
         "properties": {
            "repositoryId": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "commitId": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "numberIssues": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "numberLoc": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "issuesPerCategory": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/CategoryIssues"
               }
            },
            "issuePercentage": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "totalComplexity": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "numberComplexFiles": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "complexFilesPercentage": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "filesChangedToIncreaseComplexity": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "numberDuplicatedLines": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "duplicationPercentage": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "coveragePercentage": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "coveragePercentageWithDecimals": {
               "type": "number",
               "format": "double",
               "example": 15.25
            },
            "numberFilesUncovered": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "techDebt": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "totalFilesAdded": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "totalFilesRemoved": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "totalFilesChanged": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "commitTimestamp": {
               "type": "string",
               "format": "date-time",
               "x-scala-type": "java.time.Instant",
               "example": "2019-05-07T14:29:13.430Z"
            },
            "commitAuthorName": {
               "type": "string",
               "example": "Mike The Developer"
            },
            "commitShortUUID": {
               "type": "string",
               "example": "00d3079ed"
            }
         }
      },
      "CommitAnalysisStatsListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/CommitAnalysisStats"
               }
            }
         }
      },
      "PatternDetails": {
         "description": "Details of the pattern that was identified in the issue",
         "required": [
            "id",
            "category",
            "level",
            "severityLevel"
         ],
         "properties": {
            "id": {
               "type": "string",
               "description": "Pattern identifier (unique per tool)",
               "example": "accessor-pairs"
            },
            "title": {
               "type": "string",
               "description": "Pattern title"
            },
            "category": {
               "type": "string",
               "description": "Pattern category",
               "example": "Security"
            },
            "subCategory": {
               "type": "string",
               "description": "Pattern subcategory (optional since some patterns might not have a subcategory)",
               "example": "XSS"
            },
            "level": {
               "type": "string",
               "description": "Deprecated, use severity instead. Issue severity level. (These values map to our UI as follows: Info->Minor, Warning->Medium, Error->Critical)",
               "example": "Error",
               "x-ms-enum": {
                  "name": "SeverityLevel"
               },
               "enum": [
                  "Info",
                  "Warning",
                  "Error"
               ]
            },
            "severityLevel": {
               "$ref": "#/definitions/SeverityLevel"
            }
         }
      },
      "ToolReference": {
         "description": "Details of the tool that found the issue",
         "required": [
            "uuid",
            "name"
         ],
         "properties": {
            "uuid": {
               "type": "string",
               "description": "Tool unique identifier",
               "example": "847feb32-9ff2-11ea-bb37-0242ac130002"
            },
            "name": {
               "type": "string",
               "description": "Name of the tool",
               "example": "ESLint"
            }
         }
      },
      "CommitIdentification": {
         "type": "object",
         "required": [
            "sha"
         ],
         "properties": {
            "sha": {
               "type": "string",
               "description": "Commit SHA"
            }
         }
      },
      "CommitReference": {
         "description": "Details of the commit that introduced the issue or null if the issue was introduced in a commit that Codacy didn't analyze",
         "allOf": [
            {
               "$ref": "#/definitions/CommitIdentification"
            },
            {
               "type": "object",
               "properties": {
                  "commiter": {
                     "type": "string",
                     "description": "Email address of the author of the commit"
                  },
                  "commiterName": {
                     "type": "string",
                     "description": "Name of the author of the commit"
                  },
                  "timestamp": {
                     "type": "string",
                     "format": "date-time",
                     "x-scala-type": "java.time.Instant",
                     "description": "Time and date of the commit",
                     "example": "2019-05-07T14:29:13.430Z"
                  }
               }
            }
         ]
      },
      "CommitIssue": {
         "type": "object",
         "description": "Issue details including the commit that originated the issue",
         "required": [
            "issueId",
            "filePath",
            "fileId",
            "patternInfo",
            "toolInfo",
            "pattern",
            "lineNumber",
            "message",
            "language",
            "lineText"
         ],
         "properties": {
            "issueId": {
               "description": "ID of the Issue",
               "type": "string"
            },
            "filePath": {
               "description": "Path of the file where the issue was found",
               "type": "string"
            },
            "fileId": {
               "type": "integer",
               "format": "int64"
            },
            "patternInfo": {
               "$ref": "#/definitions/PatternDetails"
            },
            "toolInfo": {
               "$ref": "#/definitions/ToolReference"
            },
            "lineNumber": {
               "description": "Line where the issue was found",
               "type": "integer",
               "format": "int64"
            },
            "message": {
               "description": "Detailed cause of the issue",
               "type": "string"
            },
            "language": {
               "description": "Language of the file where the issue was found",
               "type": "string"
            },
            "lineText": {
               "description": "Contents of the line where the issue was found",
               "type": "string"
            },
            "commitInfo": {
               "$ref": "#/definitions/CommitReference"
            }
         }
      },
      "DeltaType": {
         "type": "string",
         "description": "Specifies if the issue was added or fixed by the commit",
         "example": "Added",
         "x-ms-enum": {
            "name": "DeltaType"
         },
         "enum": [
            "Added",
            "Fixed"
         ]
      },
      "CommitDeltaIssue": {
         "type": "object",
         "description": "Details of an issue that was added or fixed by a commit",
         "required": [
            "commitIssue",
            "deltaType"
         ],
         "properties": {
            "commitIssue": {
               "$ref": "#/definitions/CommitIssue"
            },
            "deltaType": {
               "$ref": "#/definitions/DeltaType"
            }
         }
      },
      "CommitDeltaIssuesResponse": {
         "type": "object",
         "description": "List of issues added or fixed on a commit",
         "required": [
            "analyzed",
            "data"
         ],
         "properties": {
            "analyzed": {
               "description": "True if the commit was already analyzed by Codacy",
               "type": "boolean"
            },
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/CommitDeltaIssue"
               }
            },
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            }
         }
      },
      "IgnoredIssue": {
         "type": "object",
         "description": "Ignored issue details including the commit that originated the issue",
         "required": [
            "issueId",
            "filePath",
            "patternInfo",
            "toolInfo",
            "pattern",
            "message",
            "language",
            "lineText"
         ],
         "properties": {
            "issueId": {
               "description": "ID of the Issue",
               "type": "string"
            },
            "filePath": {
               "description": "Path of the file where the issue was found and ignored",
               "type": "string"
            },
            "fileId": {
               "type": "integer",
               "format": "int64"
            },
            "patternInfo": {
               "$ref": "#/definitions/PatternDetails"
            },
            "toolInfo": {
               "$ref": "#/definitions/ToolReference"
            },
            "lineNumber": {
               "description": "Line where the issue was found",
               "type": "integer",
               "format": "int64"
            },
            "message": {
               "description": "Detailed cause of the ignored issue",
               "type": "string"
            },
            "language": {
               "description": "Language of the file where the ignored issue was found",
               "type": "string"
            },
            "lineText": {
               "description": "Contents of the line where the ignored issue was found",
               "type": "string"
            },
            "commitInfo": {
               "$ref": "#/definitions/CommitReference"
            }
         }
      },
      "IgnoredIssuesListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/IgnoredIssue"
               }
            },
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            }
         }
      },
      "SearchRepositoryIssuesListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/CommitIssue"
               }
            },
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            }
         }
      },
      "CommitDeltaStatistics": {
         "type": "object",
         "description": "Delta quality metrics for a commit",
         "required": [
            "commitUuid",
            "newIssues",
            "fixedIssues",
            "analyzed"
         ],
         "properties": {
            "commitUuid": {
               "description": "Unique identifier of the commit",
               "type": "string"
            },
            "newIssues": {
               "description": "Number of issues introduced by the commit",
               "type": "integer",
               "format": "int32"
            },
            "fixedIssues": {
               "description": "Number of issues fixed by the commit",
               "type": "integer",
               "format": "int32"
            },
            "deltaComplexity": {
               "description": "Difference in cyclomatic complexity when compared to the previous commit",
               "type": "integer",
               "format": "int32"
            },
            "deltaCoverage": {
               "description": "Difference in code coverage percentage when compared to the previous commit",
               "type": "integer",
               "format": "int32"
            },
            "deltaCoverageWithDecimals": {
               "description": "Difference in code coverage with decimals percentage when compared to the previous commit",
               "type": "number",
               "multipleOf": 0.01,
               "format": "double",
               "example": 71
            },
            "deltaClonesCount": {
               "description": "Difference in number of duplicated blocks of code when compared to the previous commit",
               "type": "integer",
               "format": "int32"
            },
            "analyzed": {
               "description": "True if the commit was already analyzed by Codacy",
               "type": "boolean"
            }
         }
      },
      "IssuesOverviewResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "$ref": "#/definitions/IssuesOverview"
            }
         }
      },
      "IssuesOverview": {
         "type": "object",
         "description": "Overview of the issues in a repository",
         "required": [
            "counts"
         ],
         "properties": {
            "counts": {
               "$ref": "#/definitions/IssuesOverviewCounts"
            }
         }
      },
      "IssuesOverviewCounts": {
         "type": "object",
         "description": "Overview of the issues in a repository",
         "required": [
            "categories",
            "languages",
            "levels",
            "patterns",
            "authors"
         ],
         "properties": {
            "categories": {
               "type": "array",
               "description": "Number of issues per category",
               "items": {
                  "$ref": "#/definitions/Count"
               }
            },
            "languages": {
               "type": "array",
               "description": "Number of issues per language",
               "items": {
                  "$ref": "#/definitions/Count"
               }
            },
            "levels": {
               "type": "array",
               "description": "Number of issues per severity level",
               "items": {
                  "$ref": "#/definitions/Count"
               }
            },
            "patterns": {
               "type": "array",
               "description": "Number of issues per code pattern",
               "items": {
                  "$ref": "#/definitions/Count"
               }
            },
            "authors": {
               "type": "array",
               "description": "Number of issues per commit author",
               "items": {
                  "$ref": "#/definitions/Count"
               }
            }
         }
      },
      "Count": {
         "type": "object",
         "required": [
            "name",
            "total"
         ],
         "properties": {
            "name": {
               "type": "string"
            },
            "total": {
               "type": "integer",
               "format": "int32"
            }
         }
      },
      "Branch": {
         "type": "object",
         "required": [
            "id",
            "name",
            "isDefault",
            "isEnabled",
            "branchType"
         ],
         "properties": {
            "id": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "name": {
               "type": "string",
               "example": "master"
            },
            "isDefault": {
               "type": "boolean",
               "example": true
            },
            "isEnabled": {
               "type": "boolean",
               "example": true
            },
            "lastUpdated": {
               "type": "string",
               "format": "date-time",
               "x-scala-type": "java.time.Instant",
               "example": "2019-05-07T14:29:13.430Z"
            },
            "branchType": {
               "type": "string",
               "enum": [
                  "Branch",
                  "PullRequest"
               ]
            },
            "lastCommit": {
               "type": "string"
            }
         }
      },
      "BranchListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            },
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/Branch"
               }
            }
         }
      },
      "UpdateRepositoryBranchConfigurationBody": {
         "type": "object",
         "description": "Configuration of a repository branch",
         "properties": {
            "isEnabled": {
               "type": "boolean",
               "description": "True if Codacy should analyze the branch",
               "example": true
            }
         }
      },
      "Coverage": {
         "type": "object",
         "properties": {
            "filesUncovered": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "filesWithLowCoverage": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "coveragePercentage": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "coveragePercentageWithDecimals": {
               "type": "number",
               "format": "double",
               "example": 15.25
            },
            "numberTotalFiles": {
               "type": "integer",
               "format": "int32",
               "example": 1
            }
         }
      },
      "QualityGate": {
         "type": "object",
         "properties": {
            "issueThreshold": {
               "type": "object",
               "required": [
                  "threshold"
               ],
               "properties": {
                  "threshold": {
                     "type": "integer",
                     "format": "int32",
                     "minimum": 0,
                     "example": 1
                  },
                  "minimumSeverity": {
                     "$ref": "#/definitions/SeverityLevel"
                  }
               },
               "description": "The quality gate will fail if there are new issues of the specified severity over this threshold (if no severity is specified all severity levels are considered). This value cannot be negative"
            },
            "securityIssueThreshold": {
               "type": "integer",
               "format": "int32",
               "minimum": 0,
               "example": 1,
               "description": "The quality gate will fail if the number of new security issues is over this threshold. This value cannot be negative"
            },
            "duplicationThreshold": {
               "type": "integer",
               "format": "int32",
               "example": 1,
               "description": "The quality gate will fail if there are new duplicated blocks over this threshold"
            },
            "coverageThreshold": {
               "type": "integer",
               "format": "int32",
               "maximum": 1,
               "example": 1,
               "description": "[deprecated: use coverageThresholdWithDecimals instead] The quality gate will fail if coverage percentage varies less than this threshold. This value should be at most 1"
            },
            "coverageThresholdWithDecimals": {
               "type": "number",
               "format": "double",
               "example": -0.02,
               "description": "The quality gate will fail if coverage percentage varies less than this threshold. This value should be at most 1.00"
            },
            "diffCoverageThreshold": {
               "type": "integer",
               "format": "int32",
               "maximum": 100,
               "minimum": 0,
               "example": 70,
               "description": "The quality gate will fail if diff coverage is under this threshold. This value should be at least 0 and at most 100"
            },
            "complexityThreshold": {
               "type": "integer",
               "format": "int32",
               "minimum": 0,
               "example": 1,
               "description": "The quality gate will fail if the complexity value is over this threshold. This value cannot be negative"
            }
         }
      },
      "QualitySettingsResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "$ref": "#/definitions/QualityGate"
            }
         }
      },
      "BuildServerAnalysisSettingRequest": {
         "type": "object",
         "required": [
            "buildServerAnalysisSetting"
         ],
         "properties": {
            "buildServerAnalysisSetting": {
               "type": "boolean",
               "description": "If true, Codacy waits for your build server to upload the results of the local analysis before resuming the analysis of your commits.\nIf false, Codacy analyzes your commits directly on its cloud infrastructure.\n"
            }
         }
      },
      "BuildServerAnalysisSettingResponse": {
         "type": "object",
         "required": [
            "buildServerAnalysisSetting"
         ],
         "properties": {
            "buildServerAnalysisSetting": {
               "type": "boolean",
               "description": "If true, Codacy waits for your build server to upload the results of the local analysis before resuming the analysis of your commits.\nIf false, Codacy analyzes your commits directly on its cloud infrastructure.\n"
            }
         }
      },
      "SyncProviderSettingResponse": {
         "type": "object",
         "required": [
            "name",
            "visibility"
         ],
         "properties": {
            "name": {
               "type": "string",
               "description": "Name of the repository",
               "example": "codacy-eslint"
            },
            "visibility": {
               "$ref": "#/definitions/Visibility"
            }
         }
      },
      "SshKeySettingResponse": {
         "type": "object",
         "required": [
            "publicSshKey"
         ],
         "properties": {
            "publicSshKey": {
               "type": "string",
               "description": "Public SSH key"
            }
         }
      },
      "DeprecatedRepositoryQualitySettings": {
         "type": "object",
         "properties": {
            "issueThreshold": {
               "type": "integer",
               "format": "int32",
               "example": 1,
               "description": "The repository will be considered unhealthy if the percentage of issues is over this threshold"
            },
            "duplicationThreshold": {
               "type": "integer",
               "format": "int32",
               "example": 1,
               "description": "The repository will be considered unhealthy if the percentage of duplication of files is over this threshold"
            },
            "coverageThreshold": {
               "type": "integer",
               "format": "int32",
               "example": 1,
               "description": "The repository will be considered unhealthy if the coverage percentage is under this threshold"
            },
            "complexityThreshold": {
               "type": "integer",
               "format": "int32",
               "example": 1,
               "description": "The repository will be considered unhealthy if the percentage of complexity of files is over this threshold"
            },
            "fileDuplicationThreshold": {
               "type": "integer",
               "format": "int32",
               "example": 1,
               "description": "A file in this repository will be considered duplicated when the number of cloned blocks is over this threshold"
            },
            "fileComplexityThreshold": {
               "type": "integer",
               "format": "int32",
               "example": 1,
               "description": "A file in this repository will be considered complex when its complexity value is over this threshold"
            }
         }
      },
      "RepositoryQualitySettings": {
         "type": "object",
         "properties": {
            "maxIssuePercentage": {
               "type": "integer",
               "format": "int32",
               "example": 1,
               "description": "The repository will be considered unhealthy if the percentage of issues is over this threshold"
            },
            "maxDuplicatedFilesPercentage": {
               "type": "integer",
               "format": "int32",
               "example": 1,
               "description": "The repository will be considered unhealthy if the percentage of duplication of files is over this threshold"
            },
            "minCoveragePercentage": {
               "type": "integer",
               "format": "int32",
               "example": 1,
               "description": "The repository will be considered unhealthy if the coverage percentage is under this threshold"
            },
            "maxComplexFilesPercentage": {
               "type": "integer",
               "format": "int32",
               "example": 1,
               "description": "The repository will be considered unhealthy if the percentage of complexity of files is over this threshold"
            },
            "fileDuplicationBlockThreshold": {
               "type": "integer",
               "format": "int32",
               "example": 1,
               "minimum": 0,
               "description": "A file in this repository will be considered duplicated when the number of cloned blocks is over this threshold. This value cannot be negative"
            },
            "fileComplexityValueThreshold": {
               "type": "integer",
               "format": "int32",
               "example": 1,
               "minimum": 0,
               "description": "A file in this repository will be considered complex when its complexity value is over this threshold. This value cannot be negative"
            }
         }
      },
      "DeprecatedRepositoryQualitySettingsResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "$ref": "#/definitions/DeprecatedRepositoryQualitySettings"
            }
         }
      },
      "RepositoryQualitySettingsResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "$ref": "#/definitions/RepositoryQualitySettings"
            }
         }
      },
      "ApiToken": {
         "type": "object",
         "description": "API token string value and ID",
         "required": [
            "id",
            "token"
         ],
         "properties": {
            "id": {
               "type": "integer",
               "format": "int64"
            },
            "token": {
               "type": "string"
            }
         }
      },
      "ApiTokenResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "$ref": "#/definitions/ApiToken"
            }
         }
      },
      "ApiTokenListResponse": {
         "type": "object",
         "description": "List of API tokens",
         "required": [
            "data"
         ],
         "properties": {
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            },
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/ApiToken"
               }
            }
         }
      },
      "ProviderIntegration": {
         "type": "object",
         "required": [
            "provider",
            "redirectUrl"
         ],
         "properties": {
            "provider": {
               "$ref": "#/definitions/AccountProvider"
            },
            "redirectUrl": {
               "type": "string"
            }
         }
      },
      "ProviderIntegrationListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            },
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/ProviderIntegration"
               }
            }
         }
      },
      "ConfiguredLoginIntegration": {
         "type": "object",
         "required": [
            "provider",
            "loginUrl"
         ],
         "properties": {
            "provider": {
               "$ref": "#/definitions/AccountProvider"
            },
            "loginUrl": {
               "type": "string"
            }
         }
      },
      "ConfiguredLoginIntegrationListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            },
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/ConfiguredLoginIntegration"
               }
            }
         }
      },
      "ConfigurationStatus": {
         "type": "object",
         "required": [
            "title",
            "category",
            "errors"
         ],
         "properties": {
            "title": {
               "type": "string"
            },
            "category": {
               "$ref": "#/definitions/ConfigurationStatusCategory"
            },
            "errors": {
               "type": "array",
               "items": {
                  "type": "string"
               }
            },
            "link": {
               "type": "string"
            }
         }
      },
      "ConfigurationStatusResponse": {
         "type": "object",
         "required": [
            "statuses",
            "metadata"
         ],
         "properties": {
            "statuses": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/ConfigurationStatus"
               }
            },
            "metadata": {
               "type": "object",
               "required": [
                  "firstSignupDone"
               ],
               "properties": {
                  "firstSignupDone": {
                     "type": "boolean"
                  }
               }
            }
         }
      },
      "Reason": {
         "type": "object",
         "required": [
            "title",
            "notes"
         ],
         "properties": {
            "title": {
               "type": "string"
            },
            "notes": {
               "type": "array",
               "items": {
                  "type": "string"
               }
            }
         }
      },
      "ChurnFeedback": {
         "type": "object",
         "required": [
            "joinReason",
            "cancelReason"
         ],
         "properties": {
            "joinReason": {
               "$ref": "#/definitions/Reason"
            },
            "cancelReason": {
               "$ref": "#/definitions/Reason"
            }
         }
      },
      "Category": {
         "type": "object",
         "required": [
            "categoryType",
            "name",
            "description"
         ],
         "properties": {
            "categoryType": {
               "type": "string"
            },
            "name": {
               "type": "string"
            },
            "description": {
               "type": "string"
            }
         }
      },
      "CategoryOverview": {
         "type": "object",
         "required": [
            "commitId",
            "category",
            "percentage",
            "totalResults"
         ],
         "properties": {
            "commitId": {
               "type": "integer",
               "format": "int64",
               "example": 1
            },
            "category": {
               "$ref": "#/definitions/Category"
            },
            "percentage": {
               "type": "number",
               "format": "double",
               "example": 1.6
            },
            "totalResults": {
               "type": "integer",
               "format": "int64",
               "example": 1
            }
         }
      },
      "CategoryOverviewListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/CategoryOverview"
               }
            }
         }
      },
      "License": {
         "type": "object",
         "required": [
            "numberOfSeats",
            "email",
            "expirationDate"
         ],
         "properties": {
            "numberOfSeats": {
               "type": "integer",
               "format": "int32",
               "example": 100
            },
            "email": {
               "type": "string",
               "example": "name@domain.com"
            },
            "expirationDate": {
               "type": "string",
               "format": "date-time",
               "x-scala-type": "java.time.Instant",
               "example": "2019-05-07T14:29:13.430Z"
            },
            "inactivityThreshold": {
               "type": "integer",
               "format": "int32",
               "example": 4
            },
            "autoAddAuthors": {
               "type": "boolean"
            },
            "allowSeatsOverflow": {
               "type": "boolean"
            }
         }
      },
      "LicenseResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "string"
            }
         }
      },
      "DormantAccountInfo": {
         "type": "object",
         "required": [
            "email"
         ],
         "properties": {
            "email": {
               "type": "string",
               "description": "Email address of the deleted account"
            }
         }
      },
      "DeleteDormantAccountsResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/DormantAccountInfo"
               }
            }
         }
      },
      "AddRepositoryBody": {
         "type": "object",
         "required": [
            "repositoryFullPath",
            "provider"
         ],
         "properties": {
            "repositoryFullPath": {
               "type": "string",
               "description": "Full path of the repository on the Git provider, starting at the organization. Separate each segment of the path with a slash (/).",
               "example": "codacy/codacy-analysis-cli"
            },
            "provider": {
               "$ref": "#/definitions/Provider"
            }
         }
      },
      "AddOrganizationBody": {
         "type": "object",
         "required": [
            "provider",
            "remoteIdentifier",
            "name",
            "type"
         ],
         "properties": {
            "provider": {
               "$ref": "#/definitions/Provider"
            },
            "remoteIdentifier": {
               "type": "string"
            },
            "name": {
               "type": "string",
               "example": "FooOrganization"
            },
            "type": {
               "$ref": "#/definitions/OrganizationType"
            }
         }
      },
      "RemovePeopleBody": {
         "type": "object",
         "required": [
            "emails"
         ],
         "properties": {
            "emails": {
               "type": "array",
               "items": {
                  "type": "string"
               },
               "description": "List of emails to add"
            }
         }
      },
      "SearchRepositoryIssuesBody": {
         "type": "object",
         "description": "Search parameters to filter the list of issues in a repository",
         "properties": {
            "branchName": {
               "type": "string",
               "description": "Name of a [repository branch enabled on Codacy](https://docs.codacy.com/repositories-configure/managing-branches/),\nas returned by the endpoint [listRepositoryBranches](#listrepositorybranches).\nBy default, uses the main branch defined on the Codacy repository settings.\n",
               "example": "a-feature-branch-name"
            },
            "patternIds": {
               "type": "array",
               "description": "Set of code pattern identifiers, as returned by the endpoint [listPatterns](#listpatterns)",
               "items": {
                  "type": "string"
               },
               "example": [
                  "ESLint_@typescript-eslint_consistent-indexed-object-style",
                  "ESLint_@typescript-eslint_no-redeclare"
               ]
            },
            "languages": {
               "type": "array",
               "description": "Set of language names, without spaces",
               "items": {
                  "type": "string"
               },
               "example": [
                  "Java",
                  "Scala",
                  "CSS",
                  "ObjectiveC"
               ]
            },
            "categories": {
               "type": "array",
               "description": "Set of issue categories",
               "items": {
                  "type": "string"
               },
               "example": [
                  "Security",
                  "CodeStyle"
               ]
            },
            "levels": {
               "type": "array",
               "description": "Set of issue severity levels",
               "items": {
                  "$ref": "#/definitions/SeverityLevel"
               },
               "example": [
                  "Error",
                  "Warning"
               ]
            },
            "authorEmails": {
               "type": "array",
               "description": "Set of commit author email addresses",
               "items": {
                  "type": "string"
               },
               "example": [
                  "example@mail.com",
                  "another@mail.com"
               ]
            }
         }
      },
      "RemovePeopleEmailStatus": {
         "type": "object",
         "required": [
            "email"
         ],
         "properties": {
            "email": {
               "type": "string"
            },
            "error": {
               "type": "string"
            }
         }
      },
      "RemovePeopleResponse": {
         "type": "object",
         "properties": {
            "success": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/RemovePeopleEmailStatus"
               }
            },
            "failed": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/RemovePeopleEmailStatus"
               }
            }
         }
      },
      "SuggestedAuthorsResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            },
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/SuggestedAuthor"
               }
            }
         }
      },
      "RepositorySuggestedAuthorsResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            },
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/RepositorySuggestedAuthor"
               }
            }
         }
      },
      "SuggestedAuthor": {
         "type": "object",
         "required": [
            "commitEmail",
            "projectCommitStats",
            "totalProjects",
            "totalCommits"
         ],
         "properties": {
            "commitEmail": {
               "type": "string"
            },
            "totalProjects": {
               "type": "integer",
               "format": "int64"
            },
            "totalCommits": {
               "type": "integer",
               "format": "int64"
            },
            "lastCommit": {
               "type": "string",
               "format": "date-time",
               "x-scala-type": "java.time.Instant"
            },
            "projectCommitStats": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/ProjectCommitStat"
               }
            }
         }
      },
      "RepositorySuggestedAuthor": {
         "type": "object",
         "required": [
            "commitEmail",
            "projectCommitStat"
         ],
         "properties": {
            "commitEmail": {
               "type": "string"
            },
            "projectCommitStat": {
               "$ref": "#/definitions/ProjectCommitStat"
            }
         }
      },
      "ProjectCommitStat": {
         "type": "object",
         "required": [
            "projectId",
            "numberOfCommits"
         ],
         "properties": {
            "projectId": {
               "type": "integer",
               "format": "int64"
            },
            "firstCommit": {
               "type": "string",
               "format": "date-time",
               "x-scala-type": "java.time.Instant"
            },
            "lastCommit": {
               "type": "string",
               "format": "date-time",
               "x-scala-type": "java.time.Instant"
            },
            "numberOfCommits": {
               "type": "integer",
               "format": "int64"
            }
         }
      },
      "AnalysisTool": {
         "type": "object",
         "required": [
            "name",
            "settings",
            "isClientSide"
         ],
         "properties": {
            "name": {
               "type": "string"
            },
            "isClientSide": {
               "type": "boolean"
            },
            "settings": {
               "$ref": "#/definitions/AnalysisToolSettings"
            }
         }
      },
      "AnalysisToolSettings": {
         "type": "object",
         "required": [
            "isEnabled",
            "usesConfigurationFile"
         ],
         "properties": {
            "name": {
               "type": "string"
            },
            "isEnabled": {
               "type": "boolean"
            },
            "usesConfigurationFile": {
               "type": "boolean"
            }
         }
      },
      "CoverageReport": {
         "type": "object",
         "description": "Status and details of a coverage report",
         "required": [
            "createdAt",
            "status",
            "targetCommitSha"
         ],
         "properties": {
            "targetCommitSha": {
               "type": "string",
               "description": "Commit SHA that was referenced as the target for this report"
            },
            "commit": {
               "$ref": "#/definitions/CommitWithBranches"
            },
            "language": {
               "type": "string",
               "description": "Programming language associated with the coverage report"
            },
            "createdAt": {
               "type": "string",
               "description": "Report creation date",
               "format": "date-time",
               "x-scala-type": "java.time.Instant"
            },
            "status": {
               "type": "string",
               "description": "Coverage status",
               "enum": [
                  "Pending",
                  "Processed",
                  "CommitNotAnalysed",
                  "CommitNotFound",
                  "BranchNotEnabled",
                  "MissingFinal"
               ]
            }
         }
      },
      "CoverageReportResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "object",
               "properties": {
                  "hasCoverageOverview": {
                     "type": "boolean",
                     "description": "True if the Quality evolution chart of the repository includes coverage information"
                  },
                  "lastReports": {
                     "type": "array",
                     "items": {
                        "$ref": "#/definitions/CoverageReport"
                     }
                  }
               }
            }
         }
      },
      "ApiError": {
         "type": "object",
         "required": [
            "message",
            "actions"
         ],
         "properties": {
            "message": {
               "type": "string"
            },
            "innerMessage": {
               "type": "string"
            },
            "actions": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/ProblemLink"
               }
            }
         }
      },
      "BadRequest": {
         "allOf": [
            {
               "$ref": "#/definitions/ApiError"
            },
            {
               "type": "object",
               "required": [
                  "error"
               ],
               "properties": {
                  "error": {
                     "type": "string",
                     "default": "BadRequest"
                  }
               }
            }
         ]
      },
      "Unauthorized": {
         "allOf": [
            {
               "$ref": "#/definitions/ApiError"
            },
            {
               "type": "object",
               "required": [
                  "error"
               ],
               "properties": {
                  "error": {
                     "type": "string",
                     "default": "Unauthorized"
                  }
               }
            }
         ]
      },
      "PaymentRequired": {
         "allOf": [
            {
               "$ref": "#/definitions/ApiError"
            },
            {
               "type": "object",
               "required": [
                  "error"
               ],
               "properties": {
                  "error": {
                     "type": "string",
                     "default": "PaymentRequired"
                  }
               }
            }
         ]
      },
      "Forbidden": {
         "allOf": [
            {
               "$ref": "#/definitions/ApiError"
            },
            {
               "type": "object",
               "required": [
                  "error"
               ],
               "properties": {
                  "error": {
                     "type": "string",
                     "default": "Forbidden"
                  }
               }
            }
         ]
      },
      "NotFound": {
         "allOf": [
            {
               "$ref": "#/definitions/ApiError"
            },
            {
               "type": "object",
               "required": [
                  "error"
               ],
               "properties": {
                  "error": {
                     "type": "string",
                     "default": "NotFound"
                  }
               }
            }
         ]
      },
      "MethodNotAllowed": {
         "allOf": [
            {
               "$ref": "#/definitions/ApiError"
            },
            {
               "type": "object",
               "required": [
                  "error"
               ],
               "properties": {
                  "error": {
                     "type": "string",
                     "default": "MethodNotAllowed"
                  }
               }
            }
         ]
      },
      "Conflict": {
         "allOf": [
            {
               "$ref": "#/definitions/ApiError"
            },
            {
               "type": "object",
               "required": [
                  "error"
               ],
               "properties": {
                  "error": {
                     "type": "string",
                     "default": "Conflict"
                  }
               }
            }
         ]
      },
      "InternalServerError": {
         "allOf": [
            {
               "$ref": "#/definitions/ApiError"
            },
            {
               "type": "object",
               "required": [
                  "error"
               ],
               "properties": {
                  "error": {
                     "type": "string",
                     "default": "InternalServerError"
                  }
               }
            }
         ]
      },
      "BadGateway": {
         "allOf": [
            {
               "$ref": "#/definitions/ApiError"
            },
            {
               "type": "object",
               "required": [
                  "error"
               ],
               "properties": {
                  "error": {
                     "type": "string",
                     "default": "BadGateway"
                  }
               }
            }
         ]
      },
      "Tool": {
         "description": "Codacy tool that can flag patterns/issues on projects",
         "allOf": [
            {
               "$ref": "#/definitions/ToolReference"
            },
            {
               "type": "object",
               "required": [
                  "version",
                  "shortName",
                  "needsCompilation",
                  "configurationFilenames",
                  "dockerImage",
                  "languages",
                  "clientSide",
                  "standalone",
                  "enabledByDefault",
                  "configurable"
               ],
               "properties": {
                  "version": {
                     "type": "string",
                     "description": "Original tool version used by the Codacy tool wrapper",
                     "example": "6.8.0"
                  },
                  "shortName": {
                     "type": "string",
                     "description": "Tool unique short name, must contain alphanumeric characters only and no spaces",
                     "example": "eslint"
                  },
                  "documentationUrl": {
                     "type": "string",
                     "description": "Original tool documentation URL",
                     "example": "http://eslint.org/docs/rules/"
                  },
                  "sourceCodeUrl": {
                     "type": "string",
                     "description": "Codacy tool wrapper source code URL",
                     "example": "https://github.com/codacy/codacy-eslint"
                  },
                  "prefix": {
                     "type": "string",
                     "description": "Tool prefix used to ensure pattern names are unique",
                     "example": "ESLint_"
                  },
                  "needsCompilation": {
                     "type": "boolean",
                     "description": "Tool requires compilation to run",
                     "example": false
                  },
                  "configurationFilenames": {
                     "type": "array",
                     "description": "Tool configuration filename",
                     "items": {
                        "type": "string"
                     },
                     "example": [
                        ".eslintrc.js",
                        ".eslintrc.yaml"
                     ]
                  },
                  "description": {
                     "type": "string",
                     "description": "Tool description",
                     "example": "ESLint is a tool for identifying and reporting on patterns found in ECMAScript/JavaScript code. In many ways, it is similar to JSLint and JSHint with a few exceptions"
                  },
                  "dockerImage": {
                     "type": "string",
                     "description": "Docker image used to launch tool",
                     "example": "codacy/codacy-eslint:2.20.19"
                  },
                  "languages": {
                     "type": "array",
                     "description": "List of languages that the tool supports",
                     "items": {
                        "type": "string"
                     },
                     "example": [
                        "JavaScript"
                     ]
                  },
                  "clientSide": {
                     "type": "boolean",
                     "description": "True if the tool is supposed to run on the client's machine and the results sent to Codacy",
                     "example": true
                  },
                  "standalone": {
                     "type": "boolean",
                     "description": "True if the client-side tool runs stand-alone outside of the CLI",
                     "example": true
                  },
                  "enabledByDefault": {
                     "type": "boolean",
                     "description": "True if the tool is enabled by default for new projects (not required)",
                     "example": true
                  },
                  "configurable": {
                     "type": "boolean",
                     "description": "True if the tool is configurable on Codacy's UI",
                     "example": true
                  }
               }
            }
         ]
      },
      "ToolListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/Tool"
               }
            },
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            }
         }
      },
      "DuplicationTool": {
         "description": "Codacy tool that can detect duplication on projects",
         "type": "object",
         "required": [
            "dockerImage",
            "languages"
         ],
         "properties": {
            "dockerImage": {
               "type": "string",
               "description": "Docker image used to launch tool",
               "example": "codacy/codacy-duplication-pmdcpd:1.0.0"
            },
            "languages": {
               "type": "array",
               "description": "List of languages that the tool supports",
               "items": {
                  "type": "string"
               }
            }
         }
      },
      "DuplicationToolListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/DuplicationTool"
               }
            }
         }
      },
      "MetricsTool": {
         "description": "Codacy tool that calculates metrics on projects",
         "type": "object",
         "required": [
            "dockerImage",
            "languages"
         ],
         "properties": {
            "dockerImage": {
               "type": "string",
               "description": "Docker image used to launch tool",
               "example": "codacy/codacy-metrics-cloc:1.0.0"
            },
            "languages": {
               "type": "array",
               "description": "List of languages that the tool supports",
               "items": {
                  "type": "string"
               }
            }
         }
      },
      "MetricsToolListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/MetricsTool"
               }
            }
         }
      },
      "AnalysisToolsResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/AnalysisTool"
               }
            }
         }
      },
      "Pattern": {
         "description": "Code pattern that a Codacy tool can use to find issues",
         "allOf": [
            {
               "$ref": "#/definitions/PatternDetails"
            },
            {
               "type": "object",
               "required": [
                  "enabled",
                  "parameters"
               ],
               "properties": {
                  "description": {
                     "type": "string",
                     "description": "Short description of the code pattern",
                     "example": "Enforce getter and setter pairs in objects and classes"
                  },
                  "explanation": {
                     "type": "string",
                     "description": "Full description of the code pattern, in CommonMark",
                     "example": "Accessor pairs description"
                  },
                  "enabled": {
                     "type": "boolean",
                     "description": "True if the code pattern is on by default for new repositories",
                     "example": true
                  },
                  "languages": {
                     "type": "array",
                     "description": "List of languages that the code pattern supports",
                     "items": {
                        "type": "string"
                     },
                     "example": [
                        "JavaScript"
                     ]
                  },
                  "timeToFix": {
                     "type": "integer",
                     "format": "int32",
                     "description": "Average time to fix an issue detected by the code pattern, in minutes",
                     "example": 5
                  },
                  "parameters": {
                     "$ref": "#/definitions/ParameterList"
                  }
               }
            }
         ]
      },
      "PatternListResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/Pattern"
               }
            },
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            }
         }
      },
      "Parameter": {
         "type": "object",
         "description": "Parameter to configure a code pattern",
         "required": [
            "name",
            "default"
         ],
         "properties": {
            "name": {
               "type": "string",
               "description": "Name of the parameter",
               "example": "getWithoutSet"
            },
            "description": {
               "type": "string",
               "description": "Description of the parameter",
               "example": "getWithoutSet"
            },
            "default": {
               "type": "string",
               "description": "Default value of the parameter",
               "example": "true"
            }
         }
      },
      "ParameterList": {
         "type": "array",
         "items": {
            "$ref": "#/definitions/Parameter"
         }
      },
      "Person": {
         "type": "object",
         "description": "Representation of a person that belongs to an organization",
         "required": [
            "email"
         ],
         "properties": {
            "name": {
               "type": "string",
               "description": "The name of the person",
               "example": "John Smith"
            },
            "email": {
               "type": "string",
               "description": "The email of the person",
               "example": "johnsmith@emailprovider.com"
            },
            "lastLogin": {
               "type": "string",
               "format": "date-time",
               "x-scala-type": "java.time.Instant",
               "example": "2020-11-05T15:39:13.430Z"
            }
         }
      },
      "ListPeopleResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/Person"
               }
            },
            "pagination": {
               "$ref": "#/definitions/PaginationInfo"
            }
         }
      },
      "PersonPermission": {
         "type": "object",
         "required": [
            "email",
            "permission"
         ],
         "properties": {
            "email": {
               "type": "string",
               "description": "The email of the person",
               "example": "johnsmith@emailprovider.com"
            },
            "permission": {
               "$ref": "#/definitions/UserRole"
            }
         }
      },
      "PersonPermissionResponse": {
         "type": "object",
         "required": [
            "data"
         ],
         "properties": {
            "data": {
               "$ref": "#/definitions/PersonPermission"
            }
         }
      },
      "LeaveOrgProblem": {
         "type": "object",
         "required": [
            "actions",
            "code"
         ],
         "properties": {
            "actions": {
               "type": "array",
               "items": {
                  "$ref": "#/definitions/ProblemLink"
               }
            },
            "code": {
               "type": "string",
               "description": "A stable identifier for a problem.",
               "example": "last_admin_credit"
            }
         }
      },
      "LeaveOrgCheckResult": {
         "type": "object",
         "description": "Informs if the user can leave the organization and if not, why.",
         "required": [
            "canLeave",
            "message"
         ],
         "properties": {
            "canLeave": {
               "type": "boolean",
               "description": "True if user can leave the organization",
               "example": true
            },
            "message": {
               "type": "string",
               "example": "Since you are the last owner on $orgName, to leave this organization you need to delete it. Please, contact us through support."
            },
            "reason": {
               "$ref": "#/definitions/LeaveOrgProblem"
            }
         }
      },
      "FileWithAnalysisInfo": {
         "type": "object",
         "description": "File with analysis information",
         "required": [
            "fileId",
            "branchId",
            "path",
            "totalIssues",
            "grade",
            "gradeLetter",
            "numberOfMethods"
         ],
         "properties": {
            "fileId": {
               "type": "integer",
               "format": "int64",
               "description": "Identifier for file in any branch",
               "example": 2
            },
            "branchId": {
               "type": "integer",
               "format": "int64",
               "description": "Identifier for the branch the file belongs to",
               "example": 3
            },
[...]
